

/* LIST PAGE - TOOL TIPS
----------------------------------------*/
a.tooltips {
  position: relative;
  display: inline;
}
a.tooltips span {
  position: absolute;
  width:248px;
  height: 100px;
  padding: 10px 20px;
  color: #FFFFFF;
  background: #333333;
  line-height: 30px;
  text-align: center;
  visibility: hidden;
  border-radius: 6px;
  font-size: 16px;
  line-height: 26px;
  text-align: left;
}
a.tooltips span:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  width: 0; height: 0;
  border-top: 8px solid #333333;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
a:hover.tooltips span {
  visibility: visible;
  opacity: 0.9;
  bottom: 100px;
  left: 20%;
  margin-left: -76px;
  z-index: 999;
}


/* LIST DETAILS
----------------------------------------*/
.iconnav {
    clear: both;
    border-bottom: 1px solid #9A9A9A;
    padding: 5px 0;
    text-align: right;
    width: 100%;
}


.iconnav a {
    display: inline-block;
    margin-left: 5px;
}

.iconnav img {
    width: 75px;
    height: auto;
}


