/*! Pushy - v0.9.1 - 2013-9-16
* Pushy is a responsive off-canvas navigation menu using CSS transforms & transitions.
* https://github.com/christophery/pushy/
* by Christopher Yee */


/* RESPONSIVE MENU TITLE
----------------------------------------------------------------*/
.menu-title {
    display: block;
    width: 100%;
    box-sizing:border-box;
    background-color: #ffffff;
    }

.menu-title .logographic {
    position: relative;
    }

.menu-title .logographic img {
    width: 30%;
    margin: 0 auto;
    text-align: center;
    padding: 10px 0 5px 10px;
    }

/* RESPONSIVE BUTTON
-------------------------------------------------------*/  
.menu-btn{
    position: absolute;
	text-align: center;
	cursor: pointer;
	z-index: 90005;
    }

    .menu-btn:before {
        position: absolute;
        font-family: 'df-icomoon';
        content: "";
        background-image: url("../lib/standard/hamburger_menu_white.jpg");
        color: #C61131;
        -webkit-transition: all .4s ease;
        -moz-transition: all .4s ease;
        -o-transition: all .4s ease;
        transition: all .4s ease;
    }

    .menu-btn:hover, .menu-btn:hover:before {
        color: rgb(30,124,154);
        -webkit-transition: all .4s ease;
        -moz-transition: all .4s ease;
        -o-transition: all .4s ease;
        transition: all .4s ease;
    }


/* RESPONSIVE MENU
----------------------------------------------------------------*/
.pushy{
    position: fixed;
    width: 265px;
    border-left: 1px solid #ffffff;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 10002;
    background: #fcfcfc;
    overflow: auto;
    -webkit-overflow-scrolling: touch; /* enables momentum scrolling in iOS overflow elements */
    }

.pushy ul {
    margin: 0;
    padding: 0;
    }

.pushy ul a{
    display: block;
    text-decoration: none;
    font-weight: 400;
    }

.pushy li a{
    background-color: rgb(30,124,154);
    color: #ffffff;
    border-bottom: 2px solid rgba(255, 255, 255, .1);
    font-weight: 400;
    padding: 6px 10px 5px 10px;
    }

.pushy li a:hover{
    background-color: rgb(40,140,170);
    color: #ffffff;
    }

.pushy li li a{
    background-color: #333333;
    color: #ffffff;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    font-weight: 400;
    padding: 7px;
    font-size: 12px;
    padding: 4px 10px;
    }

.pushy li li a:hover{
    background-color: #555555;
    color: #ffffff;
    }

/* MENU ANIMATION
----------------------------------------------------------------*/
.pushy-right{
    -webkit-transform: translate3d(265px,0,0);
    -moz-transform: translate3d(265px,0,0);
    -ms-transform: translate3d(265px,0,0);
    -o-transform: translate3d(265px,0,0);
    transform: translate3d(265px,0,0);
    }

.pushy-open{
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    }

.container-push, .push-push{
    -webkit-transform: translate3d(-265px,0,0);
    -moz-transform: translate3d(-265px,0,0);
    -ms-transform: translate3d(-265px,0,0);
    -o-transform: translate3d(-265px,0,0);
    transform: translate3d(-265px,0,0);
    }

/* MENU TRANSITIONS
----------------------------------------------------------------*/
.pushy, #basecontainer, .push{
    -webkit-transition: -webkit-transform .2s cubic-bezier(.16, .68, .43, .99);
    -moz-transition: -moz-transform .2s cubic-bezier(.16, .68, .43, .99);
    -o-transition: -o-transform .2s cubic-bezier(.16, .68, .43, .99);
    transition: transform .2s cubic-bezier(.16, .68, .43, .99);
    /* improves performance issues on mobile*/
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 0;
    }

/* MENU OVERLAY WHEN ACTIVE
----------------------------------------------------------------*/
.site-overlay{
    display: none;
    }

.pushy-active .site-overlay{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000; 
    background-color: rgb(30,124,154);
    opacity: .8;
    cursor: pointer;
    width: 100%;
    height: 100%
    }


/* LOAD FONTS 
----------------------------------------------------*/
@font-face {
	font-family: 'df-icomoon';
	src:url('/Themes/Default/Content/Fonts/df-icomoon.eot?a9yoq0');
	src:url('/Themes/Default/Content/Fonts/df-icomoon.eot?#iefixa9yoq0') format('embedded-opentype'),
		url('/Themes/Default/Content/Fonts/df-icomoon.woff?a9yoq0') format('woff'),
		url('/Themes/Default/Content/Fonts/df-icomoon.ttf?a9yoq0') format('truetype'),
		url('/Themes/Default/Content/Fonts/df-icomoon.svg?a9yoq0#df-icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}