<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config
  -->
<configuration>
  <appSettings>
    <add key="CustomerId" value="tx_r17" />
    <add key="customer_name" value="Region 17 Education Center" />
    <add key="database.activeserver" value="dev" />
    <add key="escWorksReportServer" value="http://dev-reports.escworks.net/reports/" />
    <add key="CustomerHostUrl" value="https://dev-txr17.escworks.net/" />
    <add key="SSOPortal" value="https://escworks.app/jwt/hub" />
    <add key="menu.timeout" value="20" />
    
    <add key="ShoppingCartImageAvail" value="true" />
    <!--<add key="pagetitle.cartname" value="Registration Cart:" />-->
    <add key="session.DaysToDisplayPastWorkshops" value="3" />
    <add key="config.haswaitinglist" value="true" />
    <add key="session.regEndHours" value="-23" />
    <add key="session.cancellationEndHours" value="0" />
    <add key="system.HasWaitingList" value="true" />
    <add key="calendar.showonlyfirstdate" value="true" />
    <add key="payment.paidStatus" value="Received" />
    <add key="payment.initialStatus" value="Pending" />
    <add key="escWorksSupport" value="escWorksSupport@esc4.net" />
    <add key="HelpdeskContactEmailList" value="escworks@esc17.net" />
    <add key="OnDemandMerchantPartner" value="PayPal" />
    <add key="OnDemandMerchantVendor" value="ondemand" />
    <add key="OnDemandMerchantUser" value="escweb" />
    <add key="OnDemandMerchantUserPwd" value="fr33dom" />
    <add key="global.transactionserver.MerchantPartner" value="PayPal" />
    <add key="global.transactionserver.merchantid" value="accountingesc17" />
    <add key="global.transactionserver.username" value="escWorks" />
    <add key="global.transactionserver.password" value="Xcv79w3!5" />
    <add key="global.transactionserver.test" value="pilot-payflowpro.paypal.com" />
    <add key="global.transactionserver.live" value="payflowpro.paypal.com" />
    <add key="global.transactionserver.testingOn" value="true" />
    <add key="catalog.browse.subject" value="true" />
    <add key="catalog.browse.audience" value="true" />
    <add key="catalog.browse.location" value="false" />
    <add key="fiscalyear" value="9/1/2000" />
    <add key="masterfile" value="~/masterpage.master" />
    <add key="debugging.sendbccemails" value="true" />
    <add key="Smtp_Server" value="R04houech01a.regioniv.esc4.net" />
    <add key="Mail.From" value="messenger@esclive.net" />
    <add key="Mail.Send.escWorksSupport" value="true" />
    <add key="noEvalID" value="1010" />
    <add key="evaluation.expiration" value="30" />
    <add key="eval.ShowCertAfterEvalExpires" value="true" />
    <add key="customer.objectmodel.assemblyname" value="App_Code" />
    <add key="config.userTrackingPollingInterval" value="25" />
    <add key="config.NumOfUpcomingEventsToDisplay" value="10" />
    <add key="config.NumOfDaysUpcomingEventsToDisplay" value="8" />
    <add key="calendar.numberOfEventsToShow" value="3" />
    <add key="eventTypesToNotDisplay" value="0" />
    <add key="report.signinsheet" value="304" />
    <add key="report.officialtranscript" value="103" />
    <add key="report.personaltranscript" value="104" />
    <add key="report.certificate" value="101" />
    <add key="report.hcertificate" value="1043" />
    <add key="report.hofficialtranscriptid" value="1044" />
    <add key="config.limitSessionsToOrg" value="false" />
    <add key="config.limitSessionOrgs" value="1000|2" />
    <add key="customer.paymentContact" value="Registration Services" />
    <add key="customer.address" value="1111 West Loop 289" />
    <add key="customer.city" value="Lubbock" />
    <add key="customer.state" value="TX" />
    <add key="customer.zip" value="79416" />
    <add key="config.pagerequestbuffersize" value="5" />
    <add key="config.sendpaymentvoucheremails" value="true" />
    <add key="creditcardrefundenabled" value="true" />
    <add key="splAccomodation" value="1122" />
    <add key="conferenceTypeID" value="30" />
    <add key="GradeLevelGroupId" value="97" />
    <add key="PositionGroupId" value="51" />
    <add key="SaluationGroupId" value="5" />
    <add key="CreditTypeGroupId" value="67" />
    <add key="CategoryGroupId" value="8" />
    <add key="onlineTypeID" value="32" />
    <add key="MultiVenueTypeID" value="1430" />
    <add key="FaceToFaceTypeID" value="33|34|1353|1249" />
    <!--added shaikh-->
    <add key="Report.PaymentVoucher.DatasourceID" value="83" />
    <add key="Report.PaymountVoucher.ReportID" value="1006" />
    <!-- Scorm where to store video files  -->
    <add key="packageStoreDirectoryPath" value="\\r04houewp82a\ITS\Video2\SCORM\PROD\" />
    <!--escWorks Admin-->
    <add key="IO_Server" value="R04HOUSWB01A" />
    <add key="IO_Share" value="xml_store" />
    <add key="IO_Domain" value="regioniv" />
    <add key="IO_Username" value="c3Zjc3Fs" />
    <add key="IO_Password" value="UmVnaW9uNA==" />
    <add key="Settings_Engines" value="config\__escworks.engines.config" />
    <add key="escWorks_System_Database" value="escworks.system" />
    <add key="Region4SessionDirectoryPath" value="//R04HOUSWB01A\ScormFileFolder/" />
    <!--Accountability-->
    <add key="accountability.timelength" value="64" />
    <add key="accountability.contactmethod" value="63" />
    <add key="accountability.activity" value="1111" />
    <add key="accountability.tec" value="1113" />
    <add key="accountability.audience" value="1112" />
    <add key="accountability.increase.student.performance" value="3000" />
    <add key="accountability.post.secondary.credit" value="3001" />
    <add key="accountability.financial.integrity" value="3002" />
    <add key="accountability.esc" value="3026" />
    <add key="accountability.report.summaryreport" value="1015" />
    <add key="accountability.report.timesheet" value="1014" />
    <add key="accountability.report.monthlytimesheet" value="1020" />
    <add key="accountability.ta" value="1276|1281|12009" />
    <add key="chromeversion" value="47" />
    <add key="ieversion" value="10" />
    <!-- QlikSense Integration -->
    <add key="qliksense.host" value="qlik.escworks.app" />
    <add key="qliksense.port" value="4243" />
    <add key="qliksense.virtualproxy" value="qsticketprxy" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
	<connectionStrings>
		<!--  <add name="dbOverride" connectionString="server=livedb4\escdb; integrated security=true; database=tx_esc_04" providerName="System.Data.SqlClient"/>-->
		<!--add name="monitoringDb" connectionString="server=livedb1\apps2; integrated security=true; database=aspnetdb;" providerName="System.Data.SqlClient" />-->
		<!--<add name="dbOverride" connectionString="server=r04housql82a.regioniv.esc4.net\escdb; database=tx_r17; uid=Franky.Sulistio; password=Franky.Sulisti0!" providerName="System.Data.SqlClient" />-->
	</connectionStrings>
  <system.web>
    <machineKey validationKey="4F08C88A420A9625BDE962600A5696CDAC5A0F72FFCF7E4DF290AEE56427B29C20B2984D0A92728CB7BF4D62EBCC80694E3EBF18083AA385C78EC1734FA73720" decryptionKey="33768B3D4D7EB24A952991BA2FF80BA5114338CC43F7017A9C6E8503BE21C779" validation="SHA1" decryption="AES" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="escWorks" namespace="region4.escWeb.SiteObjects" assembly="escWebBase" />
        <add tagPrefix="escWorks" namespace="region4.WebControls" assembly="escWebBase" />
        <add tagPrefix="csla" namespace="Csla.Web" assembly="Csla" />
      </controls>
    </pages>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.5.1">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Xml, Version= 4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="AjaxControlToolkit, Version=1.0.10920.23767, Culture=neutral, PublicKeyToken=28f01b0e84b6d53e" />
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.DataSetExtensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.EnterpriseServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.ComponentModel.Composition, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <trace enabled="false" localOnly="true" pageOutput="true" requestLimit="50" />
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms loginUrl="~/security/signin.aspx" />
    </authentication>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
        -->
    <customErrors mode="RemoteOnly" defaultRedirect="~/error/error.aspx" />
    <!--<identity impersonate="true" password="H0ll1ster~" userName="regioniv\zaman"/>-->
    <!--<sessionState mode="SQLServer" sqlConnectionString="server=.; integrated security=true;" sqlCommandTimeout="30"/>-->
    <httpHandlers>
      <add path="Telerik.Web.UI.WebResource.axd" verb="*" type="Telerik.Web.UI.WebResource, Telerik.Web.UI, Culture=neutral, PublicKeyToken=121fae78165ba3d4" validate="false" />
      <add verb="*" path="session.rss" type="RSSSessions" />
    </httpHandlers>
    <httpRuntime requestValidationMode="2.0" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="Telerik_Web_UI_WebResource_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" />
      <add name="Rss" path="*.rss" verb="*" type="RSSSessions" resourceType="Unspecified" preCondition="integratedMode" />
    </handlers>
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp from="messenger@esclive.net">
        <network host="mail.esclive.net" password="1magine" userName="svcSql" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.2.0" newVersion="5.1.2.0" />
      </dependentAssembly>
      <!--<dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Web.UI" publicKeyToken="121fae78165ba3d4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2019.1.215.45" newVersion="2019.1.215.45" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <!--<dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.5.0" newVersion="4.1.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>